page-city {
    .scroll-content{
        background-color: rgba(0, 0, 0, 0.022);
    }
    span{
        font-style: italic;
        color: gray;
        font-size: 16px;
        padding-left: 5%;
        margin-bottom: 5%;
    }
}
